# Unity
.vs/
.vscode/
*.csproj
*.suo
*.tmp
*.swp
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.log
*.ncb
*.suo
*.user
*.userprefs
*.ds_store
*.swp
*.tmp
*.tmp
*.bak
*.orig
*.dmp
*.ap
*.cb
*.b
*.psd
*.tga
*.jpg
*.png
*.ogg
*.wav
*.mp3
*.aif
*.cpl
*.ico
*.eot
*.svg
*.ttf
*.otf
*.json
*.patch
